.overlay {
  position: fixed;
  top: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */

  z-index: 1000; /* Ensure it's above other content */
}

/* Overlay content */
.overlay-content {
  padding: 100px;

  height: 40vh;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 40px;
}
